<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoOpApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F6ADBDF1E9D4024005179C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F6ADBF51E9D4025005179C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F6ADC001E9D4025005179C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
